@charset "utf-8";
/* CSS Document */
.ban{width:100%; padding-top:4px;}
.banSm{width:1050px; margin:0px auto; height:56px; line-height:56px; font-size:14px; color:#666666; font-family:'微软雅黑';}
.banSm a{display:inline-block; fong-size:14px; color:#666; font-family:'微软雅黑'; text-align:center; margin-right:4px;}
.banSm a:hover{color:red;}
.cen{width:100%; padding-top:50px; background:url(../images/technology_05.jpg) repeat-x left top; padding-bottom:83px;}
.cen img{margin:0px auto; display:block;}