@charset "utf-8";
/* CSS Document */
.header{width:100%; height:100px; position:relative; position:fixed; background:#fff;}
.subheader{width:1010px; margin:0 auto; height:100px;  }
.subheader h2.left{float:left; width:190px; padding-top:27px; padding-left:20px; margin-right:200px}
.subheader .right{float:left; width:600px}
.subheader .top p.center{width:380px; height:27px; padding-top:22px; font-size:12px; font-family:"黑体"; color:#99a6b0; float:left; margin-right:10px; padding-left:44px}
.subheader .top p.center a{display:inline-block; padding-left:10px; padding-right:10px;  font-size:12px;; color:#99a6b0; font-family:"黑体"; height:13px; line-height:13px}
.subheader .top p.center a span{color:#000}
.subheader .top p.center a:hover{color:#F00}
.subheader .top p.center a.last{border-right:0; padding-right:0}
.subheader .top form{width: 160px; height:34px; padding-top:15px; float:left;}
.subheader .top form input[type="text"]{width:160px; height:26px; border:1px solid #ccc; background:url(../images/pic_06.jpg) no-repeat top right}
.subheader .right ul li{float:left; width:104px; text-align:center; height:51px; line-height:51px}
.subheader .right ul li.width_71{width:71px;}
.subheader li a{font-size:16px; font-family:"微软雅黑"; color:#1b1b1b}
.subheader li a:hover{color:#2879a4}

/*.subheader li里的统配(none)*/
.subheader li.about .width_100,.subheader li.news .width_100,.subheader li.product .width_100,.subheader li.art .width_100,.subheader li.join .width_100{ display:none;}
/*.subheader li里的统配(block)*/
.subheader li.about:hover .width_100,.subheader li.news:hover .width_100,.subheader li.product:hover .width_100,.subheader li.art:hover .width_100,.subheader li.join:hover .width_100{display:block}
/*.subheader li里的统配width_100*/
.subheader li.about .width_100,.subheader li.news .width_100,.subheader li.product .width_100,.subheader li.art .width_100,.subheader li.join .width_100{width:100%; height:199px; background:rgba(255,255,255,0.8); position:absolute; left:0; top:100px; border-bottom:1px solid #bbb;}

/*.subheader li.about*/
.subheader li.about div.width_100 .main{width:1010px; margin:0 auto; background:url(../images/nav_06.jpg) no-repeat 715px 14px; padding-top:5px; }
.subheader li.about div.width_100 .main .submain{width:92px; float:left}
.subheader li.about div.width_100 .main .submain p a:hover{color:#000}
/*.subheader li里的统配(h2)*/
.subheader li.about div.width_100 .main .submain h2,.subheader li.news div.width_100 .main .submain h2,.subheader li.product div.width_100 .main .submain h2,.subheader li.art div.width_100 .main .submain h2,.subheader li.join div.width_100 .main .submain h2{height:42px; line-height:42px; font-size:12px; color:#000; text-align:left; font-family:"微软雅黑"}

/*.subheader li里的统配(a)*/
.subheader li.about div.width_100 .main .submain p a,.subheader li.news div.width_100 .main .submain p a,.subheader li.product div.width_100 .main .submain p a,.subheader li.art div.width_100 .main .submain p a,.subheader li.join div.width_100 .main .submain p a{ display:block; text-align:left; height:25px; line-height:25px; font-size:12px; color:#777; font-family:"微软雅黑"}

/*.subheader li.news*/
.subheader li.news div.width_100 .main{width:1010px; margin:0 auto; background:url(../images/block-news_03.jpg) no-repeat 735px 14px; padding-top:5px;}
.subheader li.news div.width_100 .main .submain{width:430px; float:left}
.subheader li.news div.width_100 .main .submain p a:hover{color:#000}
/*.subheader li.product*/
.subheader li.product div.width_100 .main{width:1010px; margin:0 auto; background:url(../images/block-product_03.jpg)  no-repeat 715px 14px; padding-top:5px; }
.subheader li.product div.width_100 .main .submain{width:260px; float:left}
.subheader li.product div.width_100 .main .submain p a:hover{color:#000}
/*.subheader li.art*/
.subheader li.art div.width_100 .main{width:1010px; height:194px;  margin:0 auto; padding-top:5px; background:url(../images/block-art_03.jpg) no-repeat 715px 14px; }
.subheader li.art div.width_100 .main .submain{width:120px; float:left}
.subheader li.art div.width_100 .main .submain p a:hover{color:#000}
/*.subheader li.join*/
.subheader li.join div.width_100 .main{width:1010px; margin:0 auto; padding-top:5px; background:url(../images/block-join_03.jpg) no-repeat 715px 14px; height:199px; }
.subheader li.join div.width_100 .main .submain{width:120px; float:left}
.subheader li.join div.width_100 .main .submain p a:hover{color:#000}
/*nav_bg*/
.nav_bg{ height:255px; width:100%;}
.nav_bg img{ width:100%; height:255px;}
/*company_*/
.company_{ width:100%; height:59px; background:#ffffff; border-bottom:1px solid #dcdcdc;}
.company_ .company{ width:1010px; height:59px; margin:0 auto;}
.company_ .company li{ float:left; width:52px; height:59px; line-height:59px; margin-right:54px;}
.company_ .company li a{ font-size:12px; color:#586263; font-family:"微软雅黑";}
.company_ .company li a:hover{ color:#170d15;}
/*environment_*/
.environment_{ width:100%; height:34px; background:#eeeeee;}
.environment_ .environment{ width:1010px; height:34px; margin:0 auto;}
.environment_ .environment li{ float:left; width:53px; height:34px; line-height:34px; margin-right:27px;}
.environment_ .environment li:nth-child(2){ width:96px;}
.environment_ .environment li a{ font-size:12px; color:#586263; font-family:"微软雅黑";}
.environment_ .environment li p{ font-size:12px; color:#1f060c; font-family:"微软雅黑";}
.environment_ .environment li a:hover{ color:#170d15;}
/*content_*/
.content_{ width:100%; background:#f7f7f7; border-bottom:1px solid #dedede;}
.content_ .content{ width:1010px; margin:0 auto;}
.content_ .content .top{ height:12px; line-height:12px; font-size:12px; color:#301210; padding-top:17px; padding-bottom:36px;}
.content_ .content .top a{ display:inline-block; width:53px; font-size:12px; color:#42708a;font-family:"微软雅黑";}
.content_ .content .top a:nth-child(1){ width:26px;}
.content_ .content .top a:hover{ text-decoration:underline;}
.content_ .content .top span{ font-size:12px; color:#000100;font-family:"微软雅黑";}
.content_ .content .left-top,.right-top{ float:left;}
.content_ .content .left-top{ width:440px; margin-right:72px;}
.content_ .content .left-top h3{ height:14px; line-height:14px; font-size:14px; color:#626367;font-family:"微软雅黑"; margin-bottom:19px;}
.content_ .content .left-top h4{ height:12px; line-height:12px; font-size:12px; color:#2075b6;font-family:"微软雅黑"; margin-bottom:16px;}
.content_ .content .left-top p{ font-size:12px; line-height:19px; color:#586263;}
.content_ .content .left-top .suo{ text-indent:23px;}
.content_ .content .right-top{ width:498px; padding-top:28px; padding-bottom:11px;}
.content_ .content .left-bottom,.right-bottom{ float:left;}
.content_ .content .left-bottom{ width:236px; margin-right:276px; margin-bottom:26px;}
.content_ .content .right-bottom{ width:479px;}
.content_ .content .right-bottom h2{ height:12px; line-height:12px; font-size:12px; color:#2075b6; margin-top:15px; margin-bottom:16px;font-family:"微软雅黑";}
.content_ .content .right-bottom h2:nth-child(1){ margin-top:5px;}
.content_ .content .right-bottom p{ line-height:19px; font-size:12px; color:#586263;}
/*bai*/
.bai{ width:100%; height:28px; background:#f7f7f7; border-bottom:1px solid #dedede;}
/*center_*/
.center_{ width:100%; background:#ffffff;}
.center_ .center{ width:1010px; margin:0 auto;}
.center_ .center .left,.right{ float:left;}
.center_ .center .left{ width:383px; margin-right:130px;}
.center_ .center .left h2{ height:12px; line-height:12px; font-size:12px; color:#5a6360; margin-top:19px; margin-bottom:36px;}
.center_ .center .left p{ line-height:19px; font-size:12px; color:#586263;}
.center_ .center .left p span{ width:28px;}
.center_ .center .left .s{ text-indent:60px;}
.center_ .center .right{ padding-top:14px;}
.center_ .center .right p{ height:12px; line-height:12px; font-size:12px; color:#586263;font-family:"微软雅黑"; margin-top:46px; text-align:right; margin-bottom:28px;}
.center_ .center .right p a{ font-size:12px; color:#65655b;font-family:"微软雅黑"; font-weight:bold;}
.center_ .center .right p a:hover{ color:#F00;}
/*footer*/
.footer{ background:#dddddd;}
.footer .content{width:1012px; margin:0 auto; padding-top:11px;}
.footer .content .left,.footer .content .right{float:left;}
.footer .content .left{width:818px;}
.footer .content .left ul{float:left;}
.footer .content .left ul li{font-size:16px; color:#000000; height:25px; line-height:25px;}
.footer .content .left ul li:first-child{height:45px; line-height:45px;}
.footer .content .left ul li a{font-size:12px; color:#666666;}
.footer .content .left ul li a:hover{color:#000000;}
.footer .content .left ul.aboutus{width:139px;}
.footer .content .left ul.newscenter{width:140px;}
.footer .content .left ul.productcenter{width:140px;}
.footer .content .left ul.service{width:174px;}
.footer .content .left ul.joinus{width:225px;}
.footer .content .left p{height:52px; line-height:52px; font-size:12px; color:#586263;}
.footer .content .right{width:192px;}
.footer .content .right p.top{height:46px; line-height:46px; font-size:16px; color:#000000; width:120px; text-align:center;}
.footer .content .right img{display:block; padding:8px; background:#fff; margin-bottom:2px;}
.footer .content .right p.down{height:53px; line-height:53px; font-size:12px; color:#666666; width:192px; text-align:right;}