@charset "utf-8";
/* CSS Document */
/*banner*/
.banner{width:1263px; margin:0 auto; margin-bottom:4px;}
/*nav2*/
.nav2{width:100%; height:79px; background:url(../images/news2.jpg) repeat-x left bottom; margin-bottom:21px;}
.nav2 .content,.container{width:996px; margin:0 auto;}
.nav2 .content p{height:56px; line-height:56px; font-size:12px; color:#666666;}
.nav2 .content p a{display:inline-block; font-size:12px; color:#666666; text-align:center;}
.nav2 .content p a.shou{width:25px;}
.nav2 .content p a.center{width:50px; text-align:left;}
.nav2 .content p span{padding-left:5px;}
.nav2 .content p a:hover{color:red;}
/*container*/
.container{padding-left:19px; padding-right:17px; width:960px; padding-bottom:28px;}
.container h2{text-align:center; height:20px; line-height:20px; font-size:16px; color:#555555;}
.container p.message{ text-align:center; height:38px; line-height:38px; font-size:12px; color:#999999; border-bottom:1px dashed #606060; margin-bottom:30px;}
.container p.message span{padding-right:17px;}
.container p.article{width:960px; font-size:14px; font-weight:bold; color:#2879a4; line-height:24px; text-indent:24px;}

