@charset "utf-8";
/* CSS Document */
.navBg{width:100%; margin-top:26px;}
.navBg .navSm{width:1132px; margin:0px auto; padding-bottom:26px; border-bottom:1px solid #dddddd; margin-bottom:41px;}
.navBg .navSm .left{ width:209px; float:left; margin-right:34px;}
.navBg .navSm .left .top h2{height:74px; line-height:74px; font-size:14px; color:#fff; font-family:'微软雅黑'; padding-top:36px; background:url(../images/product%20information-16.png) no-repeat 19px 41px, url(../images/product-information-13_03.jpg) repeat-x; padding-left:19px;}
.navBg .navSm .left .top ul{width:172px; border:1px solid #c3c3c3; border-top:none; padding:32px 19px 18px 16px;}
.navBg .navSm .left .top ul li{ margin-bottom:2px; border-bottom:1px solid #c0c0c0;}
.navBg .navSm .left .top ul li a{height:34px; line-height:34px; display:block; font-size:14px; color:#383838; font-family:'微软雅黑'; padding-left:30px; background:url(../images/product-information-14_06.jpg) no-repeat 8px 13px;}
.navBg .navSm .left .top ul li a:hover{color:#0168ae; background:url(../images/product-information-14_03.jpg) no-repeat 8px 13px;}
.navBg .navSm .left .bottom{margin-top:50px; width:193px; background:#e1dedb; padding-top:18px; padding-left:16px; padding-bottom:11px;}
.navBg .navSm .left .bottom p{font-size:14px; color:#838383; font-family:'微软雅黑'; line-height:20px; margin-bottom:15px;}
.navBg .navSm .left .bottom span{color:#9a8399;}
.navBg .navSm .left .bottom a{ display:inline-block; margin-right:5px; margin-left:5px; font-size:14px; color:#838383; font-family:'微软雅黑'; margin-bottom:3px;}
.navBg .navSm .left .bottom a:hover{color:#0074ba;}
.navBg .navSm .left .bottom form p{height:25px; line-height:25px;}
input[type='text']{height:25px; float:left; width:156px;}
.navBg .navSm .left .bottom form p img{width:30px; display:block; float:left; margin-left:0px;}
.navBg .navSm .right{ width:888px; float:left;}
.navBg .navSm .right .top{width:865px; background:url(../images/product-information-13_05.jpg) repeat-x; padding-left:11px; padding-right:12px; margin-bottom:40px;}
.navBg .navSm .right .top h2{width:95px; float:left; font-size:16px; color:#fefefb; font-family:'微软雅黑'; height:34px; line-height:34px;}
.navBg .navSm .right .top ul{width:170px; float:right; padding-left:17px; background:url(../images/product-information-15_03.jpg) no-repeat left 12px;}
.navBg .navSm .right .top ul li{width:48px; float:left; margin-right:5px; height:34px; line-height:34px; padding-left:12px; background:url(../images/product-information-15_06.jpg) no-repeat left 15px;}
.navBg .navSm .right .top ul li a{font-size:12px; color:#fff; font-family:'微软雅黑';}
.navBg .navSm .right .center{width:888px; margin-bottom:31px;}
.navBg .navSm .right .center .left{ display:block; float:left; width:406px; margin-right:49px;}
.navBg .navSm .right .center .right{width:433px; float:left;}
.navBg .navSm .right .center .right h2{width:247px; height:30px; line-height:30px; font-size:14px; color:#000; font-family:'微软雅黑'; font-weight:normal; border-bottom:1px solid #afafaf; margin-top:19px; margin-bottom:28px;}
.navBg .navSm .right .center .right p{font-size:14px; color:#666666; font-family:'宋体'; line-height:28px;}
.TabbedPanelsContent img{margin-bottom:20px;}



