@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;}
body{background:#fff;font:normal 12px/22px 宋体;width:100%;}
img{border:0;}
a{text-decoration:none;color:#333;}
a:hover{color:#1974A1;}

/*fullSlide*/
.banner{width:100%; background:#f7f7f7;}
.fullSlide{width:1263px;position:relative;height:520px; margin:0 auto;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:1263px !important;}
.fullSlide .bd li{width:1263px; !important;height:520px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:520px;}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:32px;height:6px;margin-right:4px; margin-bottom:16px; overflow:hidden;background:#fff;filter:alpha(opacity=50);opacity:1;line-height:999px;}
.fullSlide .hd ul .on{background:#f00;}
