@charset "utf-8";
/* CSS Document */
.logo{width:100%; height:100px;}
.nav{width:100%; height:63px; background:url(../images/about%20us-%20care1.jpg) repeat-x; }
.subnav{width:1010px; margin:0 auto;}
.nav ul li{float:left; width:111px; height:63px; line-height:63px; text-align:left; font-size:12px; color:#111111}
.nav ul li a{font-size:12px; color:#7d7d7d;}
.nav ul li a:hover{color:#111}
.position{width:100%; background:#eee; border-top:1px solid #ddd}
.position ul{width:1010px; margin:0 auto;}
.position ul li{width:84px; float:left; font-size:12px; height:35px; line-height:35px; color:#111}
.position ul li a{font-size:12px; color:#7d7d7d}
.position ul li a:hover{color:#111;}
.container{width:100%; background:#f7f7f7}
.subcontainer{width:1010px; margin:0 auto; padding-bottom:45px}
.subcontainer p.height_50{height:50px; line-height:50px; font-size:12px; color:#000; margin-bottom:21px;}
.subcontainer p.height_50 a{display:inline-block; font-size:12px; color:#2879a4; padding-left:5px; padding-right:5px}
.subcontainer p.height_50 a:hover{ text-decoration:underline}
.subcontainer p.height_50 a.no_left{padding-left:0}
.subcontainer p.height_50 a span{color:#111; font-size:12px;}
.subcontainer h2{height:44px; line-height:44px; font-size:22px; color:#2879a4; font-family:"黑体"; font-weight:bold;}
.subcontainer p.sj{height:33px; line-height:33px; font-size:12px; color:#9999bf; margin-bottom:7px; border-bottom:1px solid #ddd}
.subcontainer p.height_19{
	line-height: 19px;
	font-size: 14px;
	color: #666;
}
