@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.clearfix:after{ height:0; display:block; content:'.'; visibility:hidden; clear:both;}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,form,label,fieldest,legend{
	display: block;
}
.clear{display:block; height:0px; line-height:0px; font-size:0px; clear:both;}
ul{list-style:none;}
img{border:0;}
a{text-decoration:none;}
.ellipsis{
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
body{ font-family:"微软雅黑"; overflow-x:hidden}
