@charset "utf-8";
/* CSS Document */

/*所有宽1050*/


.header{width:100%}
.subheader{width:1010px; margin:0 auto; padding-left:40px; padding-top:8px; padding-bottom:8px;}
.nav{width:100%; height:40px; background:url(../images/index-pic1_10.jpg) repeat-x}
.nav ul{width:1038px; margin:0 auto; padding-left:17px; position:relative}
.nav ul li{width:92px; height:40px;; line-height:40px; text-align:center; float:left;}
.nav ul li a{display:block; font-size:12px; color:#fff; font-family:"黑体"}
.nav ul li a:hover{background:#062723}
.nav ul li div{display:none; width:92px; background:rgba(255,255,255,0.8)}
.nav ul li div a{display:block; height:31px; line-height:31px; font-size:12px; text-align:center; color:#000;}
.nav ul li div a:hover{background:rgba(89,99,111,0.8)}
.nav ul li:hover div{display:block}

.form_1{
	position: absolute;
	left: 851px;
	top: 37px;
	width: 300px
}
.form_1 img{float:left; width:62px; height:79px}
.form_1 .box{float:left; width:173px;}
.form_1 .box{ height:79px; background:url(../images/index-pic1_05.jpg) repeat-x}
.form_1 .box p.top{ height:25px; line-height:25px; font-size:10px; color:#fff; text-align:right; margin-bottom:8px}
.form_1 .box p.top a{display:inline-block; padding-left:8px; padding-right:8px; font-size:12px; color:#fff}
.form_1 .box p.top a:hover{color:red}
.form_1 .box p.top a span{font-family:Arial, Helvetica, sans-serif; font-size:10px}
.form_1 .box form p{padding-left:10px; background:url(../images/index-pic-form_03.jpg) no-repeat left top}
.form_1 .box form input[type="text"]{width:135px; height:19px; line-height:19px; border-top:2px solid #dbdbdb; border-bottom:2px solid #dbdbdb; display:block; float:left; border-left:0; font-size:12px; color:#c3c3c3}
.form_1 .box form input[type="image"]{width:21px; display:block; height:23px; float:left; }
/*自己的内容*/

.subnav{ width:990px; margin:0 auto; padding-left:20px;}
.subnav p{ height:60px; line-height:60px; font-size:12px; color:#666;}
.subnav p a{ font-size:12px; color:#666;}
.subnav p a:hover{ color:red;}
.container{ width:100%;}
.container{ box-shadow:0px 16px 16px #e0e0e0 inset;}
.container ul{ width:970px; margin:0 auto; padding-top:25px;}
.container li{ margin-bottom:10px; background:#f8f8f8; padding-top:15px; padding-bottom:15px; padding-left:15px;}
.container li:hover{ background:#3c6195;}
.container li:hover p{ color:#7acdf4;}
.container li:hover p a{ color:#fff;}
.container li a img{ display:block; padding-right:15px; width:120px; float:left;}
.container li p{ line-height:22px; color:#888; font-size:12px; float:left; width:955px;}
.container li p.p1{ margin-top:11px; color:#666; font-size:14px; width:820px; float:left;}
.container li p.p2{ margin-top:57px; width:820px; float:left;}
.container li p.p3{ width:820px; float:left;}
.container li p a{ line-height:25px; height:25px; color:#666; font-size:14px; display:block; width:700px; float:left;}
.container li p span{ display:block; height:22px; line-height:22px; color:#888; font-size:12px; float:right;}
.container>p{ width:470px; margin:0 auto; padding-left:500px; margin-bottom:31px;}
.container>p>a{ width:29px; height:22px; line-height:22px; border:1px solid #ccc; display:block; float:left; text-align:center; margin-right:20px; font-size:12px; color:#0066cc;}
.container>p>a:hover{ background:#ccc; font-weight:bold;}



/*自己的内容*/
.banner_tiao{width:100%; height:20px; background:#d6d6d6}
.footer{width:100%; background:#606060}
.subfooter{width:1050px; margin:0 auto; padding-top:21px; padding-bottom:17px}
.subfooter p{line-height:24px; font-size:12px; color:#fff}