@charset "utf-8";
/* CSS Document */
.bg_{width:100%; padding-bottom:7px;}
.bg img{width:100%;}
.nav_{width:100%; background:#fff;}
.nav_ .nav1{width:1050px; margin:0 auto;}
.nav_ .nav1 li{float:left; height:54px; line-height:54px; color:#666;font-size:14px; margin-right:5px;}
.nav_ .nav1 li a{color:#666;font-size:14px; }
.bk_{width:100%; height:35px; background:url(../images/case_05.jpg) repeat-x;}
.con_{width:100%; background:#fff;}
.con_ .con{width:1030px; padding-left:20px; margin:0 auto; }
.con_ .con li{width:947px; border:1px solid #f0f0f0; padding-left:15px; background:#f8f8f8; padding-top:15px; padding-bottom:5px; margin-bottom:40px;}
.con_ .con img,con_ .con .right{float:left;}
.con_ .con img{width:352px; margin-right:35px;}
.con_ .con .right h1{ font-size:18px; color:#2879a4; height:18px; line-height:18px; margin-bottom:4px;}
.con_ .con .right p{ line-height:22px; font-size:14px; color:#555;}
