@charset "utf-8";
/* CSS Document */
.nav,.main{width:100%; background:#fefefe;}
/*nav*/
.nav{border-bottom:1px solid #dddddd;}
.main{background:#f7f7f7;}
.nav .content,.main .content{width:1010px; margin:0 auto;}
.nav .content a.same{display:inline-block; height:63px; line-height:63px; width:55px; margin-right:57px; font-size:12px; color:#7e7d80;}
.nav .content a:hover{color:#000001;}
/*main*/
.main{padding-bottom:44px;}
.main .content p.title{height:50px; line-height:50px; font-size:15px; color:#000001; margin-bottom:22px;}
.main .content p.title a{display:inline-block; width:34px; font-size:12px; color:#2778a5; margin-right:0;}
.main .content p.title a.two{width:68px; text-align:center;}
.main .content p.title span{font-size:67px; font-size:12px; color:#000001; text-align:center; display:inline-block;}
.main .content p.title a:hover{text-decoration:underline;}
.main .content h2{height:28px; line-height:28px; font-size:22px; color:#2778a5;}
.main .content p.time{display:block; height:49px; line-height:49px; font-size:12px; color:#969896; border-bottom:1px solid #dddddd; margin-bottom:12px;}
.main .content .container p{font-size:12px; color:#666666; line-height:20px; margin-bottom:12px;}
.main .content .container p:last-child{margin-top:12px;}
