@charset "utf-8";
/* CSS Document */
.bg_{width:100%; margin-bottom:26px;}
.bg img{width:100%;}
.content_{width:100%; background:#fff; border-bottom:1px solid #ddd; margin-bottom:48px; }
.content_ .content{width:1130px; margin:0 auto;}
.content_ .content .left,.content_ .content .right{float:left;}
.content_ .content .left{width:210px; margin-right:28px;}
.content_ .content .left .top img{ margin-bottom:30px;}
.content_ .content .left .top{border:1px solid #c3c3c3; padding-bottom:20px;}
.content_ .content .left .top li{ width:172px; height:37px;  margin-left:16px; border-bottom:1px solid #c0c0c0; background:url(../images/recruitment_18.jpg) no-repeat 12px center;}
.content_ .content .left .top li a{ height:37px; line-height:37px; font-size:14px; margin-left:16px; color:#383838; padding-left:15px; font-family:"微软雅黑";}
.content_ .content .left .top li:hover{background:url(../images/recruitment_12.jpg) no-repeat 12px center;}
.content_ .content .left .top li a:hover{color:#0168ae; }
.content_ .content .left .down{ padding-left:15px; padding-top:18px; background:#e1dedb; margin-top:50px; padding-bottom:15px;}
.content_ .content .left .down span{ display:block; height:20px; line-height:20px; font-size:14px; color:#838383;}
.content_ .content .left .down li{ float:left; margin-top:11px; color:#838383; margin-right:5px;}
.content_ .content .left .down li a{color:#838383; height:20px; line-height:20px; font-size:14px; width:50px;}
.content_ .content .left .down p{ position:relative;}
.content_ .content .left .down input{width:156px; height:23px;  }
input[type="text"]{ border:1px solid #fff;}
.content_ .content .left .down img{ display:block; margin-top:10px; position:absolute; left:158px; top:-10px;}
.content_ .content .right{width:890px;}
.content_ .content .right .top h2,.content_ .content .right .top ul{float:left;}
.content_ .content .right .top h2{ width:625px; height:34px; line-height:34px; color:#fefefa; font-size:18px; background:url(../images/recruitment_07.jpg) repeat-x; padding-left:11px; margin-bottom:18px; }
.content_ .content .right .top ul{width:220px;background:url(../images/recruitment_07.jpg) repeat-x; padding-left:30px }
.content_ .content .right .top li{float:left;height:34px; line-height:34px; color:#fefefa; font-size:12px;}
.content_ .content .right .top li a{color:#fefefa; }
.content_ .content .right .mid{padding-left:6px;}
.content_ .content .right .mid p{ line-height:30px; color:#333; font-size:16px;}
.content_ .content .right .down{ padding-left:185px; padding-top:28px; padding-bottom:185px;}