@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;}
body{background:#fff;font:normal 12px/22px 宋体;width:100%;}
img{border:0;}
a{text-decoration:none;color:#333;}
a:hover{color:#1974A1;}
/* fullSlide */
.fullSlide{width:100%;position:relative;height:382px;;background:#fff; margin:0 auto;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden; width:100%;}
.fullSlide .bd ul{width:100%; !important;}
.fullSlide .bd li{width:100%; !important;height:382px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:382px;}
/*.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:20px;height:20px;margin-right:10px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px; border-radius:10px;}
.fullSlide .hd ul .on{background:#f00;}*/
/*.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:25px;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}*/
.fullSlide .next{left:auto;right:25px;background-position:-6px -137px;}
